* {
    font-family: var(--primary-font-family);
}

:root {
    --brand-100: #F3F8FE;
    --brand-200: #E7F1FE;
    --brand-300: #DAEAFD;
    --brand-400: #B3D4FB;
    --brand-500: #7BB4F7;
    --brand-600: #0B75F1;
    --brand-700: #0963CD;
    --brand-800: #042954;
    --brand-900: #031D3C;
    --dash-bg: #fafcff;
    --default: #fff;
    --disable-text-color: #9C9CA4;
    --btn-border-radius: 10px;
    --border-property: 1px solid #0b75f1;
    --global-background-color: #FAFCFF;
    --global-font-color: #000000;
    --global-dash-font: #9c9ca4;
    --global-hover-color: #f0f7fe;
    --global-bg-color: #f3f8fe;
    --primary-font-color: #0b75f1;
    --primary-font-color-1: #141522;
    --primary-font-family: Poppins;
    --primary-btn-color: #0b75f1;
    --primary-font-color: #031D3C;
    --third-font-color: #8D8D8D;
    --secondary-font-color: #686A79;
    --primary-font-family: "Poppins", sans-serif;
    --global-transation: all linear .3s;
    --global-border-radius: 9px;
    --big-container: 1450px;
    --s-m-container: 100%;
}

#primary-header {
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 999;
    
}

.header-container {
    width: var(--big-container);
    margin: 0 auto;
}

.header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* background: var(--brand-100); */
    padding: 5px 25px;
    border-radius: var(--btn-border-radius);
}

.header-col {
    width: 50%;
}

.header-nav {
    text-align: right;
}

.header-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--brand-700);
    color: var(--brand-100);
    border-radius: var(--btn-border-radius);
}

/* Section Slide :: Start */

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-item {
    position: relative;
    z-index: 1;
}

.slide-item::after {
    position: absolute;
    content: url(/assets/images/bg-vector/test-vector-4\ .png);
    width: 100%;
    height: 100%;
    top: -5px;
    left: -285px;
    z-index: -1;
}

.slide-item::before {
    position: absolute;
    content: url(/assets/images/bg-vector/test-vector-4\ .png);
    width: 100%;
    height: 100%;
    bottom: -5px;
    right: -285px;
    z-index: -1;
    transform: rotate(-180deg);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-slide {
    width: var(--big-container);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.section-slide-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slide-col {
    width: 50%;
}

a.hero-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: var(--brand-700);
    color: #fff;
    border-radius: var(--btn-border-radius);
}

a.yt-player {
    display: block;
    width: 500px;
    height: 365px;
    position: relative;
    border-radius: var(--btn-border-radius);
    margin: 0 auto;
}

a.yt-player img {
    width: 100%;
    border-radius: var(--global-border-radius);
}

a.yt-player i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 66px;
    color: #ff0000;
}

.slide-content.slide-content-left {
    text-align: left;
}

/* About :: Start */
.about-desc {
    text-align: left;
}
.about-desc h2 {
    margin-bottom: 15px;
}
.about-img img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: var(--global-border-radius);
}
/* About :: End */

.slide-content.slide-content-left h2 {
    font-size: 46px;
}

a.yt-player i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 66px;
    color: var(--brand-600);
}
a.yt-player img {
    width: 100%;
    border-radius: var(--global-border-radius);
    box-shadow: 0px 0px 100px -40px #0000003b;
}

/* Pricing Slide :: Start */

.pricing-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.pricing-row .slick-track {
    padding: 30px 0px;
}

.offer-tag {
    position: absolute;
    display: block;
    padding: 10px;
    background: var(--brand-800);
    font-size: 13px;
    top: 0;
    right: 0;
    border-top-right-radius: var(--global-border-radius);
    border-bottom-left-radius: var(--global-border-radius);
    color: #fff;
}

.pricing-card-services ul li {
    list-style: none;
    text-align: left;
    margin: 10px 0px;
}

.pricing-col {
    width: 50% !important;
    /* height: 600px !important; */
    background: #fff;
    margin: 10px;
    border: 1px solid #dae1f5;
    border-radius: 9px;
    position: relative;
}

.pricing-row.slick-initialized.slick-slider .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 100% !important;
}

.pricing-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: var(--brand-100);
    transition: var(--global-transation);
    padding: 20px;
    border-radius: var(--global-border-radius);
}

.offer-tag {
    position: absolute;
}

.pricing-card-header {
    background-color: var(--brand-100);
    padding: 50px 20px;
    width: 40%;
    position: relative;
}

.pricing-card-header::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 95%;
    border-right: 1px solid #e6e9ed;
}

span.popular-tag {
    display: block;
    margin-bottom: 10px;
}

span.package-type {
    display: block;
    width: 90px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: var(--brand-900);
    font-weight: 600;
    border-radius: var(--global-border-radius);
    margin: 0 auto;
}

span.package-type.silver-package {
    background: var(--brand-400);
}

span.package-type.gold-package {
    background: var(--brand-400);
}

span.package-type.platinum-package {
    background: var(--brand-400);
}

.pricing-card-header p {
    margin: 20px 0px 20px 0px;
    font-size: 56px;
    font-weight: 600;
}

.pricing-card-services {
    padding: 40px 20px;
    width: 60%;
}

.pricing-card-services ul li p {
    font-size: 14px;
}

.pricing-card-services ul li p i {
    color: var(--brand-600);
    margin-right: 10px;
}

a.buy-btn {
    display: block;
    background-color: var(--brand-900);
    border-radius: var(--global-border-radius);
    width: 100%;
    padding: 10px 20px;
    color: var(--brand-100);
    text-decoration: none;
    transition: var(--global-transation);
    font-family: var(--primary-font-family);
}

a.buy-btn:hover {
    background: var(--brand-700);
}

.pricing-row.slick-initialized.slick-slider .slide-arrow-btn {
    display: block;
    width: 45px;
    height: 30px;
    background: var(--brand-800);
    color: var(--brand-100);
    border-radius: var(--btn-border-radius);
    line-height: 32px;
    font-size: 26px;
    position: absolute;
    bottom: -60px;
    transform: translate(-50%, -50%);
}

.pricing-row.slick-initialized.slick-slider .slide-arrow-nxt-btn {
    left: 60%;
}

.pricing-row.slick-initialized.slick-slider .slide-arrow-prev-btn {
    left: 40%;
}

.section-slide-row.slick-initialized.slick-slider {
    position: relative;
}

.section-slide-row.slick-initialized.slick-slider .slide-arrow-btn {
    display: block;
    width: 45px;
    height: 30px;
    background: var(--brand-800);
    color: var(--brand-100);
    border-radius: var(--btn-border-radius);
    line-height: 32px;
    font-size: 26px;
    position: absolute;
    bottom: 55px;
    transform: translate(-50%, -50%);
}

.section-slide-row.slick-initialized.slick-slider .slide-arrow-nxt-btn {
    left: 60%;
}

.section-slide-row.slick-initialized.slick-slider .slide-arrow-prev-btn {
    left: 40%;
}


/* Footer :: Start */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
    /* background: var(--brand-500); */
}

.footer-container {
    width: var(--big-container);
    margin: 0 auto;
}

.footer-social ul li {
    list-style: none;
    display: inline-block;
}

.footer-social ul li a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--brand-900);
}

/* Footer :: End */

/* 

    Responsive :: Start

*/
/* 

    Responsive Code Will Appear Here

*/


/* For Smartphone */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .pricing-card {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: var(--brand-100);
        transition: var(--global-transation);
        padding: 10px;
        border-radius: var(--global-border-radius);
    }
    .slide-content.slide-content-left p {
        font-size: 14px;
    }
    .slide-content.slide-content-left h2 {
        font-size: 36px;
    }
    a.hero-btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background: var(--brand-700);
        color: #fff;
        border-radius: var(--btn-border-radius);
        font-size: 14px;
    }
    .slide-content.slide-content-left {
        margin-bottom: 20px;
    }
    .offer-tag {
        position: absolute;
        display: block;
        padding: 5px;
        background: var(--brand-800);
        font-size: 10px;
        top: 0;
        left: 0;
        border-top-right-radius: var(--global-border-radius);
        border-top-left-radius: var(--global-border-radius);
        border-bottom-left-radius: 0;
        color: #fff;
    }

    .pricing-card span {
        font-size: 11px;
    }
    .pricing-card-header::after {
        display: none;
    }
    .pricing-card-header::before {
        position: absolute;
        content: '';
        bottom: -8px;
        right: 0;
        width: 100%;
        border-bottom: 1px solid #e6e9ed;
    }
    a.buy-btn {
        width: 100%;
        padding: 5px 0px;
        text-decoration: none;
        font-size: 15px;
        margin-top: 15px;
    }
    .header-container {
        width: var(--s-m-container);
        margin: 0 auto;
    }
    a.yt-player {
        display: block;
        width: 100%;
        height: 295px;
        position: relative;
        border-radius: var(--btn-border-radius);
        margin: 0 auto;
    }
    .section-slide {
        width: 100%;
    }

    .section-slide-row {
        display: flex !important;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .about-img img {
        width: 325px;
        height: 325px;
        margin: 0 auto;
        border-radius: var(--global-border-radius);
    }

    .slide-col {
        width: 100%;
        padding: 5px 25px;
    }

    .about-desc p {
        font-size: 13px;
        text-align: justify;
    }

    .pricing-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 10px 10px;
    }
    .pricing-card-header {
        background-color: var(--brand-100);
        padding: 0px 20px;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .pricing-card-header p {
        margin: 10px 0px 0px 0px;
        font-size: 26px;
        font-weight: 600;
    }
    .pricing-card-services ul li p {
        font-size: 12px;
    }
    .pricing-card-services {
        padding: 0px 20px;
        width: 100%;
    }

    .pricing-row .slick-track {
        padding: 30px 0px;
    }

    .pricing-col {
        width: 100% !important;
    }
    .pricing-row.slick-initialized.slick-slider .slick-track {
        width: 736px !important;
        /* margin: 0 auto !important; */
    }
}

/* For Small Size Tab */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-container {
        width: var(--s-m-container);
    }
    .header-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        background: var(--brand-700);
        color: var(--brand-100);
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    .section-slide {
        width: var(--s-m-container);
    }
    .section-slide-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .slide-col {
        width: 100%;
        padding: 15px;
    }
    .slide-content.slide-content-left h2 {
        font-size: 32px;
    }
    .slide-content.slide-content-left p {
        font-size: 14px;
    }
    a.hero-btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background: var(--brand-700);
        color: #fff;
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    a.yt-player {
        display: block;
        width: 80%;
        height:  80%;
        position: relative;
        border-radius: var(--btn-border-radius);
        margin: 0 auto;
    }
    .slide-content.about-desc p {
        font-size: 12px;
        text-align: justify;
    }
    .about-img img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        border-radius: var(--global-border-radius);
    }
    .pricing-col {
        width: 100% !important;
    }
    .pricing-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }
    .pricing-card-header {
        background-color: var(--brand-100);
        padding: 0px 20px;
        width: 40%;
    }
    .pricing-col.middle {
        margin-top: 30px;
    }
    .pricing-card-header p {
        margin: 20px 0px 20px 0px;
        font-size: 32px;
        font-weight: 600;
    }
    .pricing-card-header span {
        font-size: 14px;
    }
    .pricing-card-services ul li p {
        font-size: 12px;
    }
    span.offer-tag {
        font-size: 10px;
    }
    a.buy-btn {
        display: block;
        background-color: var(--brand-900);
        border-radius: var(--global-border-radius);
        width: 50%;
        padding: 10px 20px;
        color: var(--brand-100);
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: var(--global-transation);
        font-family: var(--primary-font-family);
        font-size: 15px;
    }
}

/* For Big and Average Size Tab */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .header-container {
        width: var(--s-m-container);
    }
    .header-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        background: var(--brand-700);
        color: var(--brand-100);
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    .section-slide {
        width: var(--s-m-container);
    }
    .section-slide-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }
    .slide-col {
        width: 50%;
        padding: 15px;
    }
    .slide-content.slide-content-left h2 {
        font-size: 32px;
    }
    .slide-content.slide-content-left p {
        font-size: 14px;
    }
    a.hero-btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background: var(--brand-700);
        color: #fff;
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    a.yt-player {
        display: block;
        width: 80%;
        height:  80%;
        position: relative;
        border-radius: var(--btn-border-radius);
        margin: 0 auto;
    }
    .slide-content.about-desc p {
        font-size: 12px;
        text-align: justify;
    }
    .about-img img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        border-radius: var(--global-border-radius);
    }
    .pricing-col {
        width: 100% !important;
    }
    .pricing-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }
    .pricing-card-header {
        background-color: var(--brand-100);
        padding: 0px 20px;
        width: 40%;
    }
    .pricing-col.middle {
        margin-top: 30px;
    }
    .pricing-card-header p {
        margin: 20px 0px 20px 0px;
        font-size: 32px;
        font-weight: 600;
    }
    .pricing-card-header span {
        font-size: 14px;
    }
    .pricing-card-services ul li p {
        font-size: 12px;
    }
    span.offer-tag {
        font-size: 10px;
    }
    a.buy-btn {
        display: block;
        background-color: var(--brand-900);
        border-radius: var(--global-border-radius);
        width: 50%;
        padding: 10px 20px;
        color: var(--brand-100);
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: var(--global-transation);
        font-family: var(--primary-font-family);
        font-size: 15px;
    }
}

/* for Tab and Laptop Medium Size Screen */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
    .header-container {
        width: var(--s-m-container);
    }
    .header-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        background: var(--brand-700);
        color: var(--brand-100);
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    .section-slide {
        width: var(--s-m-container);
    }
    .section-slide-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }
    .slide-col {
        width: 50%;
        padding: 15px;
    }
    .slide-content.slide-content-left h2 {
        font-size: 32px;
    }
    .slide-content.slide-content-left p {
        font-size: 14px;
    }
    a.hero-btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background: var(--brand-700);
        color: #fff;
        border-radius: var(--btn-border-radius);
        font-size: 12px;
    }
    a.yt-player {
        display: block;
        width: 80%;
        height:  80%;
        position: relative;
        border-radius: var(--btn-border-radius);
        margin: 0 auto;
    }
    .slide-content.about-desc p {
        font-size: 12px;
        text-align: justify;
    }
    .about-img img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        border-radius: var(--global-border-radius);
    }
    .pricing-col {
        width: 100% !important;
    }
    .pricing-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }
    .pricing-card-header {
        background-color: var(--brand-100);
        padding: 0px 20px;
        width: 40%;
    }
    .pricing-col.middle {
        margin-top: 30px;
    }
    .pricing-card-header p {
        margin: 20px 0px 20px 0px;
        font-size: 32px;
        font-weight: 600;
    }
    .pricing-card-header span {
        font-size: 14px;
    }
    .pricing-card-services ul li p {
        font-size: 12px;
    }
    span.offer-tag {
        font-size: 10px;
    }
    a.buy-btn {
        display: block;
        background-color: var(--brand-900);
        border-radius: var(--global-border-radius);
        width: 50%;
        padding: 10px 20px;
        color: var(--brand-100);
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: var(--global-transation);
        font-family: var(--primary-font-family);
        font-size: 15px;
    }
}

/* for Medium Size Laptop and Full Size Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {}