:root {
    --brand-100: #F3F8FE;
    --brand-200: #E7F1FE;
    --brand-300: #DAEAFD;
    --brand-400: #B3D4FB;
    --brand-500: #7BB4F7;
    --brand-600: #0B75F1;
    --brand-700: #0963CD;
    --brand-800: #042954;
    --brand-900: #031D3C;
    --dash-bg: #fafcff;
    --default: #fff;
    --disable-text-color: #9C9CA4;
    --btn-border-radius: 10px;
    --border-property: 1px solid #0b75f1;
    --global-background-color: #FAFCFF;
    --global-font-color: #000000;
    --global-dash-font: #9c9ca4;
    --global-hover-color: #f0f7fe;
    --global-bg-color: #f3f8fe;
    --primary-font-color: #0b75f1;
    --primary-font-color-1: #141522;
    --primary-font-family: Poppins;
    --primary-btn-color: #0b75f1;
    --primary-font-color: #031D3C;
    --third-font-color: #8D8D8D;
    --secondary-font-color: #686A79;
    --primary-font-family: "Poppins", sans-serif;
}

#home {
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section_slider-tray {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section-slide {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section-slide-row {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.slide-col {
    width: 50%;
}