/* 

  custom grid : 1440px;

*/

/* Root CSS :: Start */
:root {
  --primary-btn-color: #0b75f1;
  --global-font-color: #000000;
  --global-dash-font: #9c9ca4;
  --primary-font-color: #0b75f1;
  --primary-font-color-1: #141522;
  --primary-font-family: Poppins;
  --btn-border-radius: 10px;
  --border-property: 1px solid #0b75f1;
  --global-hover-color: #f0f7fe;
  --global-bg-color: #f3f8fe;
  --dash-bg: #fafcff;
}

/* Root CSS :: End */

body {
  font-family: "Poppins", sans-serif;
  background: var(--dash-bg);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  color: #141522;
}

p {
  color: #2c2c2c;
  font-family: Poppins;
}

ul,
ol {
  list-style: none;
}

hr {
  height: 0;
  border: 1px solid #e6eaee;
}

/* scrollbar start */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  /* border-radius: 8px;      */
}

::-webkit-scrollbar-thumb {
  background-color: #dce0e7;
  /* border-radius: 8px; */
}

/* scrollbar end */

/* journals page start  */
.journals {
  padding: 20px 52px;
  background-color: #fafcff;
}

.journals button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f3f8fe;
  color: #0b75f1;
  border: 1px solid #0b75f1;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  font-family: var(--primary-font-family);
}

.journals .active {
  background-color: #0b75f1;
  color: #f3f8fe;
}

.journals .journals-collection {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

/* ----------------------------------------------------------- */
.thumbnail {
  width: 100%;
  border-radius: 8px;
}

/* ----------------------------------------------------------- */
.journals .journals-collection h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}

.journals .journals-collection .icon {
  height: 32px;
  width: 32px;
  padding: 10px;
  background-color: #042954;
  top: 16px;
  right: 15px;
  border-radius: 4px;
}

/* journals page end  */

/* journals details page start  */

.journal-details {
  padding: 24px 30px 52px 30px;
  background-color: #fafcff;
}

.journal-details-title {
  margin: 16px 24px;
}

.journal-details-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.journal-details-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #0b75f1;
}

.journal-details-section {
  height: 790px;
  overflow-y: auto;
  background-color: #fff;
  padding: 20px 30px;
}

.journal-details-section h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
  color: #031d3c;
}

.journal-details-section img {
  width: 100%;
  border-radius: 4px;
}

.journal-details-section h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 40px;
  color: #031d3c;
}

.journal-details-section hr {
  height: 0;
  border: 1px solid #e6eaee;
}

.journal-details-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #031d3c;
}

/* journals details page end  */

/*write journals and post page start  */
.write-journal {
  padding: 27px 40px 70px 35px;
  background-color: #fafcff;
}

.write-journal-title {
  margin: 16px 24px;
}

.write-journal-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.write-journal-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #0b75f1;
}

.write-journal form {
  padding: 36px 30px;
  background-color: #fff;
  width: 97%;
  border-radius: 8px;
  margin: 0 auto;
}

.write-journal .write-journal-file-upload {
  border-radius: 4px;
  height: 100%;
  margin-bottom: 40px;
}

.write-journal .write-journal-file-upload svg {
  width: 40px;
  color: #475467;
  border-radius: 100%;
  background-color: #f9fafb;
  padding: 12px;
}

.write-journal .write-journal-file-upload p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #475467;
}

.write-journal .write-journal-file-upload .upload-file-condition {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #475467;
}

.write-journal .write-journal-file-upload p span {
  color: #0b75f1;
  font-weight: 600;
}

.write-journal button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #0b75f1;
  padding: 12px 24px;
  background-color: #f0f7fe;
  border: 1px solid #0b75f1;
  margin-left: 24px;
  border-radius: 8px;
}

/* .write-journal .active {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  padding: 12px 24px;
  background-color: #0b75f1;
  border: 1px solid #0b75f1;
  border-radius: 8px;
} */
/* write journals and write post */


/* Course :: Start */

.courses-wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
}

.courses-row {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.course-card {
  position: relative;
  padding: 15px;
}

.course-card-thumb {
  position: relative;
}

.course-card-thumb a {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #E7F1FE;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 45px;
  color: #021123;
  font-size: 26px;
}
.course-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}
/* Course :: End */


/* video page start */
/* and audio page  */
.courses-video,
.courses-audio {
  padding: 27px 40px 70px 35px;
  background-color: #fafcff;
}

.courses-video-title,
.courses-audio-title {
  margin: 16px 24px;
}

.courses-video-title h2,
.courses-audio-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.courses-video-title p,
.courses-audio-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #0b75f1;
}

.courses-video-modul,
.courses-audio-modul {
  padding: 30px;
  background-color: #fff;
  width: 40%;
  height: 776px;
  overflow-y: scroll;
}

.courses-video-modul h2,
.courses-audio-modul h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.courses-video-modul h5,
.courses-audio-modul h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.courses-video-modul img,
.courses-audio-modul img {
  margin: 10px 10px 10px 0;
}

.courses-video-modul h6,
.courses-audio-modul h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.courses-video-modul p,
.courses-audio-modul p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #8d8d8d;
}

.courses-video-modul hr,
.courses-audio-modul hr {
  margin-bottom: 30px;
  color: #8d8d8d;
}

.courses-video-modul .video-modul-list i,
.courses-audio-modul .audio-modul-list i {
  font-weight: 400;
  line-height: 18px;
  color: #8d8d8d;
  font-family: var(--primary-font-family);
}

.courses-video-modul .video-modul-list .video-list-number,
.courses-audio-modul .audio-modul-list .audio-list-number {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  padding: 5px;
  background-color: #f5f5f7;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #141522;
  margin-right: 20px;
}

.courses-video-modul .video-modul-list .video-modul-name,
.courses-audio-modul .audio-modul-list .audio-modul-name {
  margin-bottom: 9px;
}

.courses-video-modul .video-modul-list .modul-list-item,
.courses-audio-modul .audio-modul-list .modul-list-item {
  margin-bottom: 34px;
}

.courses-video .video,
.courses-audio .audio {
  height: 100%;
  width: 50%;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.courses-video .video video {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

/* login start  */
.login-form {
  background-color: #fafcff;
  position: relative;
}

.login-bg {
  background-image: linear-gradient(0deg,
      rgba(2, 17, 35, 0.1),
      rgba(2, 17, 35, 0.1)),
    url("/assets/images/login-bg.png");
  width: 100%;
  height: 460px;
  padding: 137px 0;
}

.login-bg img {
  display: block;
  margin: 0 auto;
}

.login-form form {
  position: absolute;
  top: 580px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  height: 438px;
  width: 449px;
  border-radius: 10px;
  padding: 30px 30px 32px 30px;
}

.login-form form h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.login-form form p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #8d8d8d;
}

.login-form form label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.login-form form input {
  padding: 16px 20px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.login-form form input::placeholder {
  color: #9c9ca4;
}

.login-form form a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #9c9ca4;
}

.login-form form .btn-submit {
  padding: 12px 50px;
  background: #0b75f1;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* login end  */

/* My dashboard :: Start */
.my-dashboard {
  padding: 25px 40px 20px 30px;
  background-color: #fafcff;
}

.my-dashboard h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 26px;
}

.best-selling-book {
  padding: 60px 30px;
}
/* My dashboard :: End */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  position: relative;
  width: 150px;
  height: 200px;
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
  /* filter: grayscale(80%); */
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  border-radius: 15px;
  /* background: linear-gradient(to right, #c31432, #240b36); */
  overflow: hidden;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper .swiper-slide .info {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 15px;
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -120px black;
}
.swiper .swiper-slide .info h4 {
  margin: 0;
  padding-bottom: 10px;
}
.swiper .swiper-slide-active {
  filter: none;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #c31432 !important;
}
.swiper .swiper-pagination-bullet {
  background-color: grey;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  top: 50%;
  width: 40px;
  height: 40px;
  background: white;
  border: 3px solid #240b36;
  border-radius: 50%;
  color: #c31432;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 18px;
}
.swiper .swiper-button-prev:after {
  position: relative;
  left: -1px;
}
.swiper .swiper-button-next:after {
  position: relative;
  left: 1px;
}
.swiper .swiper-button-prev,
.swiper .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper .swiper-button-next,
.swiper .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

/* browse Category :: Start */
.browse-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding: 0px 60px;
}

.browse-category .browse-books {
  border-radius: 10px;
}
.bc-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00000017;
}
.brws-books-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 0px;
}

.book-card-info {
  margin-top: 10px;
}
.book-card-info h1 {
  font-size: 22px;
}
.book-card-info p {
  color: #8D8D8D;
}

.bc-course-card-row.courses-row {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* books page start  */

.books-section {
  margin: 30px 0 0 34px;
}

.books-section h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 39.61px;
}

.books-collection {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-items: center;
  grid-column-gap: 75px;
  grid-row-gap: 48px;
}

.books-collection .book {
  width: 159.51px;
}

/* modal start */
/* .books-collection .book .book-modal {
  width: 1500px;
  top: 166px;
  left: -95px;
} */
/* modal end  */

.books-collection .book:hover {
  opacity: 10px;
}

/* book hover start */

.books-collection .book:hover img {
  -webkit-filter: brightness(50%);
}

.books-collection .book span {
  display: none;
}

.books-collection .book:hover span {
  display: table-cell;
}

.books-collection .book span input[type="button"] {
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 4px;
  background-color: #0b75f1;
}

.books-collection .book h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.books-collection .book p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8d8d8d;
}

/* pagination start*/

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  color: black !important;
}

.pagination.pagination-flat .page-item {
  margin: 0 0.25rem;
}

.pagination-success .page-item.active .page-link,
a {
  color: #0b75f1 !important;
  /* border-color: #0b75f1; */
  background-color: #fff;
}

/* pagination end  */

/* books page end  */
/* browse Category :: End */
.guides-section {
  padding: 30px;
}
.guides-collection {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.dashboard .my-dashboard {
  padding: 0;
}
.dashboard main.dashboard-content-wrapper {
  padding: 0;
}